<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoBaseSql.Properties.Settings.autoNewConnectionString"
            connectionString="Driver={SQL Server};server=192.168.1.95;uid=sa;pwd=rdfrf3hekbn;database=autoNew;language=русский"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>